<?xml version="1.0"?>
<!--
/**
 * @category    Integento
 * @package     Integento_Assetsperf
 * @copyright   Copyright (c) 2016 @Darklg
 * @license     MIT
 * @author      @Darklg
 */
-->
<config>
    <modules>
        <Integento_Assetsperf>
            <version>0.3.0</version>
        </Integento_Assetsperf>
    </modules>
    <global>
        <helpers>
            <integento_assetsperf>
                <class>Integento_Assetsperf_Helper</class>
            </integento_assetsperf>
            <core>
                <rewrite>
                    <data>Integento_Assetsperf_Helper_Core_Data</data>
                </rewrite>
            </core>
        </helpers>
        <blocks>
            <class>Integento_Assetsperf_Block</class>
            <page>
                <rewrite>
                    <html_head>Integento_Assetsperf_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <integento_assetsperf>
                                            <title>Integento AssetsPerfs</title>
                                        </integento_assetsperf>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
